* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-form {
    height: 520px;
    width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 0 2rem  ;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 4px 0px, rgba(0, 0, 0, 0.05) 0px 1px 6px 0px, rgba(0, 0, 0, 0.1) 0px 8px 8px 0px, rgba(0, 0, 0, 0.1) 0px 16px 16px 0px, rgba(0, 0, 0, 0.15) 8px 32px 32px 0px, rgba(0, 0, 0, 0.15) 8px 64px 64px 0px;
}

.heading{
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    color: #3B3B98;
}

.todo-input {
    height: 3rem;
    width: 18rem;
    margin: 8px;
    padding-left: 1rem;
    border: none;
    border-radius: 4px;
    font-size: large;
    text-transform: capitalize;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

textarea[type="message"] {
    font-size: 1.25rem;
    resize: none;
    height: 9rem;
}

textarea[type="message"]::placeholder {
    letter-spacing: -0.2rem;
}

.todo-status {
    width: 18rem;
}

.todo-button {
    height: 3rem;
    width: 18rem;
    margin: 2rem;
    border-radius: 3px;
    border: none;
    font-size: 1rem;
    background-color: #FC427B ;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px 0px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px 0px inset;
}

.todo-button:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}